@font-face {
  font-family: 'SCDream';
  src: 
    url('../fonts/SCDream1.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'SCDream';
  src: 
    url('../fonts/SCDream2.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'SCDream';
  src: 
    url('../fonts/SCDream3.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SCDream';
  src: 
    url('../fonts/SCDream4.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SCDream';
  src: 
    url('../fonts/SCDream5.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SCDream';
  src: 
    url('../fonts/SCDream6.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SCDream';
  src: 
    url('../fonts/SCDream7.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SCDream';
  src: 
    url('../fonts/SCDream8.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SCDream';
  src: 
    url('../fonts/SCDream9.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}